#!/bin/bash
####
# Contains all variable configuration parameters
####

CONFIGURATION_VERSION=1
DATABASE_USER_NAME="database user name"
DATABASE_USER_PASSWORD="database user password"
DAYS_TO_KEEP_IN_THE_PAST=90
EXECUTE_DATABASE_CHECK=0
EXECUTE_DATABASE_OPTIMIZE=1
EXECUTE_DATABASE_ANALYZE=1
NUMBER_OF_ENTRIES_TO_DELETE_PER_RUN=100000
NUMBER_OF_RUNS=100
