[Unit]
Description=Weekly rsyslog mysql housekeeping

[Timer]
OnCalendar=Fri *-*-* 19:00
RandomizedDelaySec=42
Persistent=true

[Install]
WantedBy=timers.target
